.flex {
    display: flex;
}

.cur-po {
    cursor: pointer;
}

.pos-absolute {
    position: absolute;
}

.max-width {
    width: 80%;
    margin: auto;
}

.heading-gradient {
    background: var(--text-gradient-bg);
    background: var(--text-gradient-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}