.trending-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tc-inner-wrapper {
    background: var(--text-gradient-1);
    padding: 2px;
    border-radius: 18px;
}

.tc-content {
    background-color: var(--background);
    padding: 18px;
    border-radius: 18px;
}

.tc-banner {
    height: 300px;
    border-radius: 18px;
}

.tc-user-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0px;
    align-items: center;
}

.tc-ui-left {
    display: flex;
    flex: 1;
}

.tc-user-logo {
    height: 60px;
    border-radius: 8px;
    margin-right: 12px;
}

.tc-ui-user {
    font-weight: 600;
    font-size: 18px;
}

.tc-ui-username {
    font-size: 14px;
    opacity: 0.7;
}

.tc-solana-logo {
    height: 36px;
}