.trending-nfts {
    padding: 108px 0px;
    position: relative;
}

.tn-title {
    font-size: 46px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 36px;
}

.nfts-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tn-bg-blog {
    position: absolute;
    height: 550px;
    width: 550px;
    background-color: var(--bg-blob);
    filter: blur(160.58px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.tn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.seemore-btn {
    font-size: 14px;
}