.topfold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 93vh;
    overflow: hidden;
}

.top-left {
    margin-top: 50px;
    padding-right: 48px;
}

.topLeft-heading {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
}

.top-left-description {
    font-size: 20px;
    margin: 24px 0;
}

.top-left-btns {
    gap: 20px;
    display: flex;
    margin-top: 39px;
}

.top-left-info {
    display: flex;
    padding: 48px 0px 0px;
}

.top-left-InfoItem {
    margin-right: 24px;
}

.top-left-InfoItem-Count {
    font-size: 40px;
    font-weight: 700;
}

.top-left-InfoItem-lebel {
    font-size: 15px;
    font-weight: 600;
}

.top-right {
    margin-top: 100px;
    position: relative;
}

.top-right-nfts {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.top-right-nfts-item {
    margin: 6px;
    overflow: hidden;
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--white);
    border-radius: 12px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.tf-r-diamond-img {
    display: block;
    height: 400px;
}

.top-left-violet {
    height: 530px;
    width: 530px;
    background-color: var(--bg-blob);
    filter: blur(160.58px);
    z-index: -99;
    position: absolute;
    transform: translate(-50%);
    left: 46%;
    top: 30%;
}

@media screen and (max-width: 768px) {
    .topfold {
        justify-content: center;
        height: 93vh;
        overflow: hidden;
        display: block;
    }
}