.header {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 12px;
    cursor: pointer;
}